/* the navigation section */



.flashes{
    background-color: #eed97d;
    color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
    width: fit-content;
    position: relative;
    left: 50%;
    animation: pop-in-out 0.5s ease-in-out;
}

@keyframes pop-in-out {
    0% {
      transform: scale(0);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
}

.hero {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: linear-gradient(200deg, #95C892 0%, #3B5FE2 100%);
}

.header{
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
}

.nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav ul li a {
    text-decoration: none;
    color: white; /* Adjust as needed */
    font-weight: bold;
}

.nav ul li a:hover {
    color: #f1f1f1; /* Adjust as needed */
}

.content {
    display: flex;
    flex-grow: 1;
}


.header{
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.header  h2{
    font-size: 4em;
    margin-bottom: 20px;
}


.header article{
    font-size: 1.2em;
    text-align: justify;
    flex-grow: 1;
    /* background-color: rgb(165, 136, 42); */

}


.header.cta {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--accent);
    color: var(--dark);
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.39);
    margin-top: 20px;  
}

.header.cta:hover{
    background-color: var(--dark);
    color: var(--white);
    transition: 300ms;
}

.illustration {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5; /* Adjust as needed */
}

.illustration img {
    max-width: 100%;
    height: auto;
}



/* Responsive Design */
@media (max-width: 768px) {
    .content {
        flex-direction: column;
    }

    .header, .illustration {
        width: 100%;
    }

    .header h2 {
        font-size: 2em;
    }

    .header article {
        font-size: 1em;
    }
}

img{
    position: relative;
    margin-right: auto;
}

.logo{
  height: 50px;
  width: 170px; 
  padding: 6px 10px;
}


.cta:hover{
    color: var(--white);
    background-color: var(--accent);
    transition: 300ms;
}


.display{
    background-color: black;
    height: 90vh;
    display: flex;
    justify-content: center;
    flex-direction: row;
    color: var(--white);
}

/* features card container */ 
.block{
    text-align: center;
    width: 100%;
    height: 100vh;
}

.block h2{
    height: 20%;
    text-align: center;
    padding-top: 2em;
}

.features{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: fit-content;
    text-align: center;
    flex-wrap: wrap;
    align-items: center;
    padding: 1rem;
}


.features h3{
    font-size: 1em;
    font-weight: 800;

}

.card{
    flex-basis: 20%;
    padding: 2em 0;
    border-radius: 1em;
    background-color:  var(--dark-white);
    margin-top: 10px;
}

.card p{
    padding: 0 1em;
    text-align: justify;
    font-size: 16px;
}

.about{
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: wrap;
    justify-content: space-between;
    height: 100vh;

}


.about_article{
    width: 50%;
    padding: 20rem 1em 0;
    font-size: 1em;
    text-align: justify;
}


.contacts h2{
    text-align: center;
}

nav{
    height: auto;
}

nav ul{
    list-style-type: none;
    padding: 0.5rem;
    text-align: right;
    font-size: 1em;
}

li{
    display: inline-block;
    margin-inline: 0.5rem;
}

li a{
    color: var(--dark);
    text-decoration: none;
}

li a:hover, li a:focus {
    text-decoration: underline;
}
