/* @import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
 */
:root{
  /* colors */
  --dark: #191b24;
  --light-dark: #95c892;
  --dark-white: #f2fdf5;
  --white: #fcfef6;
  --accent: #3b5fe2;
  
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

html{
  color-scheme: dark light;
  font-size: 16px;
  background-color:var(--white);
  color: var(--dark);
}

h1{
    color: white;
}

.loginbox {
    background-color: #dfc23f91;
    width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30rem;
    border-radius: 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.404), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.form-container {
    width: 80%;
    max-width: 500px;
    padding: 1em;
    border-radius: 30px;
    box-shadow: 0 14px 28px #ffffff67, 10px 10px 10px rgba(169, 85, 52, 0.439);
    }

input {
    /* background-color: #f3eaea00; */
    border: none;
    padding: 1em;
    margin: 8px;
    border-radius: 28px;
    width: 20rem;
    background-color: white;
    
}

input:hover{
    border-bottom: solid 2px #DFC13F;
    background-color: #6a6ffd2d;
}

legend{
    color: white;
    font-size: 3em;
}

.button {
    background-color: #28365500; /* Green */
    border: solid rgba(0, 0, 0, 0.514) 1px;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  .button:hover{
    border: solid black 1px;
    background-color: #A95534;
    transition: 1s;

  }

  ::placeholder {
    font-style: bold;
    font-size: 1em;
    color: #A95534;
    padding: 10px;
  }

  p a{
    text-decoration: none;
    color: #A95534;
    font-style: italic;
  }

  p a:hover{
    text-decoration: none;
    color: #343664;
  }


/* Media Queries for responsiveness */
@media (max-width: 768px) {
  .loginbox {
      width: 90%;
      height: auto;
      padding: 2em;
  }

  .form-container {
      width: 100%;
      padding: 1em;
  }

  input {
      width: 100%;
  }

  legend {
      font-size: 2em;
  }
  .button {
    width: 100%;
    padding: 10px;
}
}

@media (max-width: 480px) {
  .loginbox {
      width: 100%;
      height: auto;
      padding: 1em;
  }

  .form-container {
      width: 100%;
      padding: 0.5em;
  }

  input {
      width: 100%;
  }

  legend {
      font-size: 1.5em;
  }

  .button {
      width: 100%;
      padding: 10px;
    }
}
