<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

   <link rel="stylesheet" href="{{ url_for('static', filename='css/landlord.css') }}">
    <link rel="stylesheet" href="/frontend/static/landlord.css">
</head>
<body>
    <div id="form-container">
        <h3>Add Apartment</h3>
        <label for="building">Building:</label>
        <input type="text" id="building" name="building" required>
        <br><br>
        <label for="unit">Unit:</label>
        <input type="text" id="unit" name="unit" required>
        <br><br>
        <label for="tenant">Tenant:</label>
        <input type="text" id="tenant" name="tenant" required>
        <br><br>
        <label for="caretaker">Caretaker:</label>
        <input type="text" id="caretaker" name="caretaker" required>
        <br><br>
        <button id="add-apartment-button">Add Apartment</button>
      </div>
      <div id="summary-container">
      </div>
      
    <script src="/frontend/static/landlord.js"></script>

</body>
</html>