<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/display.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
    <link rel="stylesheet" href="/frontend/static/css/display.css">
    <link rel="stylesheet" href="/frontend//static/css/global.css">
    <link rel="stylesheet" href="/frontend/static/css/resposive.css">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon white 48px.png') }}">
    <link rel="icon" href="/frontend/static/images/favicon white 48px.png">
</head>

<body>
    <div class="hero">
        <div class="nav">
            <div>
                <a href="{{ url_for('views.home')}}">
                    <!-- <img src="{{ url_for('static', filename= 'images/Artboard 35.png')}}" alt="mykeja_logo" class="logo"> -->
                    <!-- <img src="{{ url_for('static', filename='images/Artboard 35.png') }}" alt="mykeja_logo" class="logo"> -->
                    <img class="logo" src="/frontend/static/images/Artboard 35.png" alt="my keja logo">
                </a>
            </div>
            <nav>
                <ul>
                    <li>
                        <a id="signup" href="#">signup</a>
                    </li>
                    <li>
                        <a id="login" href="#">login</a>
                    </li>
                </ul>
            </nav>
        </div>  
    
        <div class="bg-signupbox">
            <div class="signupbox" >
                <legend>sign up</legend>
                <span class="close-btn">+</span>
                <form method="post" class="form-container">
                    <input type="hidden" name="signup" value="signup">
                    <p>
                        <label for="firstName"></label>
                        <input type="text" name="firstName" id="firstName" placeholder="First name" autocomplete="on" required>
                    </p>
                    <p>
                        <label for="secondName"></label>
                        <input type="text" name="secondName" id="secondName" placeholder="Second name">
                    </p>
                    <P>
                        <label for="email"></label>
                        <input type="text" name ="email" id="email" placeholder="Enter email">
                    </P>
                    <p>
                        <label for="password1"></label>
                        <input type="password" name="password1" id="password1" placeholder="Enter password"> 
                    </p>
                    <p>
                        <label for="password2"></label>
                        <input type="password" name="password2" id="password2" placeholder="Confirm password"> 
                    </p>
                    <p>
                        already have an account? <a id="login" href="#">login here</a>
                    </p>
        
                    <button type="submit" class="button">sign up</button>
                </form>
            </div>
        </div>
    
        <div class="bg-loginbox">
            <div class="loginbox">
                <legend>login</legend>
                <span class="close-btn">+</span>
                <form method="post" class="form-container">
                    <input type="hidden" name="login" value="login">
                    <P>
                        <LAbel for="email"></LAbel>
                        <input type="text" name ="email" id="email" placeholder="enter email" autocomplete="on">
                    </P>
                    <p>
                        <label for="password1"></label>
                        <input type="password" name="password1" id="password" placeholder="enter password" autocomplete="on"> 
                    </p>
                    <p>don't have an account? <a id="signup" href="#">signup</a> </p>
                    <button type="submit" class="button">login</button>
                </form>
            </div>
        </div>
        <script src="/frontend/static/javascript/signup.js"></script>
        <script src="{{ url_for('static', filename = '/javascript/signup.js') }}"></script>
        <header class="header">

        
            <div class="content">
                <section >
                    <h2>Manage your assets under one roof.</h2>
                    <article>
                        MyKeja is a management solution to property owners. a well curated database has been setup to be accessed in the palm of your hands. dont worry about record books, phonebooks. we have it all covered.
                        <br><br>
                        <a class="cta" id="signup" href="#">GET STARTED</a>
                    </article>
                </section>
            </div>
        </header>
        <!-- <div class="illustration">
            <img src="/frontend/static/images/illustration.png" alt="Illustration">
        </div> -->
    </div>
<section>
    <article class="block">
        <h2>features</h2>
        <div class="features">
            <div class="card" id="EASY MANAGEMENT">
                <img src="/frontend/static/images/icons8-asset-management-64.png" alt="management icon">
                <h3>EASY MANAGEMENT</h3>
                <p>this is created for landlords who have more that one apartments they are managing. they will be able to create new apartments and add their tenants and caretakers</p>
            </div>
            <div class="card" id="HAKIBA PAY">
                <img src="/frontend/static/images/icons8-savings-66.png" alt="savings icon">
                <h3>HAKIBA PAY</h3>
                <p>
                    haba na haba hujaza kibaba. this is feature is designed to track payment information. especially in small amount. it will be accessible to all parties and will show payment progress. 
                </p>
            </div>
            <div class="card" id="42/7 SUPPORT">
                <img src="/frontend/static/images/icons8-customer-support-96.png" alt="savings icon" width="66" >
                <h3>42/7 SUPPORT</h3>
                <p>
                    haba na haba hujaza kibaba. this is feature is designed to track payment information. especially in small amount. it will be accessible to all parties and will show payment progress. 
                </p>
            </div>
            <div class="card" id="SECURE">
                <img src="/frontend/static/images/icons8-user-shield-96.png" alt="savings icon" width="66">
                <h3>SECURE</h3>
                <p>
                    haba na haba hujaza kibaba. this is feature is designed to track payment information. especially in small amount. it will be accessible to all parties and will show payment progress. 
                </p>
            </div>
        </div>
    </article>
    
    <article class="about">
        <article class="about_article">
            <h2>about</h2>
            <p>Welcome to MY KEJA, the ultimate platform for modern building management. Whether you're a building owner, tenant, or caretaker, we have everything you need to streamline your operations and enhance your experience. Our cutting-edge CRM system is designed to simplify your day-to-day tasks and empower you with the tools you need. With MY KEJA, you can manage your properties, communicate with your tenants, and optimize your building's performance—all in one place. Join our community of satisfied users and discover the future of building management today.</p>
        </article>
    </article>
</section>

<footer class="contacts">
    <h2 >developers</h2>
    
    <div>
        <p>Trevor Kibowen</p>
    </div>

</footer>

</body>
</html>