<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>landlordview</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/landlord.css') }}">
    <link rel="stylesheet" href="/frontend/static/css/landlord.css">
    <link rel="icon" href="{{ url_for('static', filename='mykejaweb_50px.png') }}">
    <link rel="icon" href="/frontend/static/images/7-removebg-preview.png">
    <!-- <script src="{{ url_for('static', filename = 'popup.js') }}"></script>
    <script src="/frontend/static/javascript/popup.js"></script> -->
    <script src="{{ url_for('static', filename = '/javascript/landlord.js') }}"></script>
    <script src="/frontend/static/javascript/landlord.js"></script>
    
</head>

<header class="header">
<!-- <img src="/frontend/static/6-removebg-preview.png" alt="mykeja_logo" width="100" height="100" class="logo"> -->
<img src="{{url_for('static', filename='images/Artboard 35.png')}}" alt="mykeja_logo">
   
    <nav>
        <ul>
            <li>
                <a id="logout" href="logout">logout</a>
            </li>
        </ul>
    </nav>
</header>

<body>
    <section class="card_container">
        <div class="card">
            <div class="summary">
                <h3>Building Name</h3>
                <p>Caretaker: </p>
                <p>Tenants: </p>
                <button class="btn btn-primary">View Building</button>
            </div>
        </div>
        <div class="card">
            <a href="#" class="btn-primary" id="button">Add New Building</a>
            <!-- <a href="{{ url_for('views.new_building') }}" class="btn btn-primary">Add New Building</a> -->
        </div>
    </section>

    
    <div class="bg-modal" >
        <div class="modal-content" >
            <h3>Add Apartment</h3>
            <span class="close-btn">+</span>

            <input type="text" id="building" name="building" required placeholder="Building Name">
            <input type="text" id="unit" name="unit" required placeholder="Unit Number">
            <input type="text" id="tenant" name="tenant" required placeholder="No. of Tenants">
            <input type="text" id="caretaker" name="caretaker" required placeholder="Caretaker">

            <button id="add-apartment-button">Add Apartment</button>
            <button id="remove-apartment-button">Remove Apartment</button>
        </div>
    </div>
      <div id="summary-container">  want to put the summary of the cards here. </div>

    <script src="/frontend/static/javascript/landlord.js"></script>
    <script src="/frontend/static/javascript/popup.js"></script>
    <script src="{{url_for('static', filename='/javascript/popup.js')}}"></script>

    <!-- <div class="popup">
        <form class="popup-content" action="{{ url_for('views.new_building') }}" method="POST">
          <span class="close-btn">&times;</span>
          <label for="building-name">Building Name:</label>
          <input type="text" id="building-name" name="building_name" required>
          <label for="caretaker">Caretaker:</label>
          <input type="text" id="caretaker" name="caretaker" required>
          <label for="tenants">Tenants:</label>
          <input type="number" id="tenants" name="tenants" required>
          <label for="units">Units:</label>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div> -->

</body>
</html>