<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/landlord.css') }}">
    <link rel="stylesheet" href="/frontend/static/css/landlord.css">
    <link rel="icon" href="{{ url_for('static', filename='mykejaweb_50px.png') }}">
    <link rel="icon" href="/frontend/static/images/7-removebg-preview.png">
    <!-- <script src="{{ url_for('static', filename = 'popup.js') }}"></script>
    <script src="/frontend/static/javascript/popup.js"></script> -->   
    
    
</head>



<body>
    <header class="header">
        <!-- <img src="/frontend/static/6-removebg-preview.png" alt="mykeja_logo" width="100" height="100" class="logo"> -->
        <img src="{{url_for('static', filename='images/Artboard 35.png')}}" alt="mykeja_logo">
            <div class="nav">
                <nav>
                <ul>
                    <li>
                        <a id="logout" href="logout">logout</a>
                    </li>
                </ul>
                </nav>
            </div>         
    </header>

    <section class="card_container">
        {% for apartment in apartments %}
        <div class="card">
            <div class="summary">
                <h3>{{ apartment.building_name }}</h3>
                <p>Unit: {{ apartment.unit_number }}</p>
                <p>Tenants: {{ apartment.tenant_count }}</p>
                <p>Caretaker: {{ apartment.caretaker }}</p>
                <form method="post" action="{{ url_for('views.delete_building', id=apartment.id) }}">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
                <button class="btn btn-primary" onclick="openUpdateModal( '{{ apartment.id }}', '{{ apartment.building_name }}', '{{ apartment.unit_number }}', '{{ apartment.tenant_count }}', '{{ apartment.caretaker }}')">Update</button>
            </div>
        </div>
        {% endfor %}
        <div class="card">
            <button id="add-apartment-button" class="btn-primary">Add New Building</button>
        </div>
    </section>

    <div class="bg-modal">
        <div class="modal-content" id="apartment-form">
            <h3>Add Apartment</h3>
            <span class="close-btn">+</span>
            <form method="post" action="{{ url_for('views.new_building') }}">
                <label for="building">Building:</label>
                <input type="text" id="building" name="building" required>
                <br><br>
                <label for="unit">Unit:</label>
                <input type="text" id="unit" name="unit" required>
                <br><br>
                <label for="tenant">Tenant:</label>
                <input type="text" id="tenant" name="tenant" required>
                <br><br>
                <label for="caretaker">Caretaker:</label>
                <input type="text" id="caretaker" name="caretaker" required>
                <br><br>
                <button type="submit" id="add-apartment-button">Add Apartment</button>
            </form>
        </div>
    </div>

    <div class="bg-modal" id="update-modal">
        <div class="modal-content" id="update-form">
            <h3>Update Apartment</h3>
            <span class="close-btn" onclick="closeUpdateModal()">+</span>
            <form method="post" action="" id="update-apartment-form">
                <label for="update-building">Building:</label>
                <input type="text" id="update-building" name="building" required>
                <br><br>
                <label for="update-unit">Unit:</label>
                <input type="text" id="update-unit" name="unit" required>
                <br><br>
                <label for="update-tenant">Tenant:</label>
                <input type="text" id="update-tenant" name="tenant" required>
                <br><br>
                <label for="update-caretaker">Caretaker:</label>
                <input type="text" id="update-caretaker" name="caretaker" required>
                <br><br>
                <button type="submit" id="update-apartment-button">Update Apartment</button>
            </form>
        </div>
    </div>



    <script src="/frontend/static/javascript/popup.js"></script>
    <script src="{{url_for('static', filename='/javascript/popup.js')}}"></script>
    



</body>
</html>